---
import { CollectionEntry, getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import formatDate from "@/utils/formatDate";

export async function getStaticPaths() {
  const writings = await getCollection("writings");

  return writings.map((write) => ({
    params: { slug: write.slug },
    props: { write },
  }));
}

type Props = {
  write: CollectionEntry<"writings">;
};

const { write } = Astro.props;
const { Content, remarkPluginFrontmatter } = await write.render();

---

<Layout title={write.data.title} description={write.data.description} image={write.data.image}>
  <main class="write mx-auto flex w-full flex-col gap-4">
    <header role="presentation">
      <h1 class="text-3xl">{write.data.title}</h1>
      <p class="text-neutral-800">
        {formatDate(write.data.publishedAt)} / {remarkPluginFrontmatter.minutesRead}
      </p>
    </header>

    <Content />
  </main>
</Layout>
